@charset "utf-8";
.carousel-inner .item img, .carousel-inner .item img {
    width: 100%;
}
.container .carousel-indicators .active {
    background-color:orange;
}
.container .carousel-indicators li {
    border: 1px solid orange;
}
.container .panel-footer {
    margin-top:20px;
}
