@charset "utf-8";
.subseccion {
    padding-left:1em;
}
.subseccion p {
    padding-left:1em;
    padding-right: 1em;
}
#btn_subir {
    display:none;
    padding:0.2em;
    background:#024959;
    color:#d0d8d1;
    font-size: 2em;
    cursor:pointer;
    position: fixed;
    bottom:1em;
    right:1em;
    border-radius: 20%;
    opacity: 0.25;
    filter: alpha(opacity=25);
}
#btn_subir span {
    display:table-cell;
    vertical-align:middle;
}